{% extends 'layout/master.html' %}
{% load staticfiles %}

{% block content %}

<div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
        <div class="card">
            <div class="card-header card-danger text-center">
                <h4 class="text-white pt-2"><strong>Verification</strong></h4>
            </div>
            <div class="card-block card-info">
                <form action="{% url 'oauth:verify' data.reference %}" method="POST">
                    {% csrf_token %}
                    <div class="col-lg-10 offset-lg-1">
                        <div class="form-group">
                            <p class="text-center">Enter the code we sent to your email.</p>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" id="otpInput" placeholder="Security Code">
                            {% if errors and errors.email %}
                                <small class="text-muted form-text text-danger"><strong>{{ errors.email }}</strong></small>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {% if errors and errors.general_errors %}
                                <small class="text-muted form-text text-danger"><strong>{{ errors.general_errors }}</strong></small>
                            {% endif %}
                            <button type="submit" class="btn btn-danger col-lg-12"><strong>Confirm</strong></button>
                        </div>
                        <div class="form-group">
                            <p class="text-center">
                                <small>
                                    Didn't get the security code? We can <a href="{% url 'oauth:re-otp' %}" class="text-white">resend it</a>.
                                </small>
                            </p>
                        </div>
                        <div class="form-group">
                            <p class="text-center">
                                <small>
                                    If you're unable to receive a security code, use one of your backup codes.
                                </small>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}